<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>


    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://www.polymer-project.org/images/logos/p-logo.png" alt="Polymer">
        <button class="col-lg-4 col-xs-12 btn btn-danger" type="button" name="button" on-click="incrementar">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
        <table class="table table-striped col-lg-4 col-xs-12">
          <thead>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>[[prop1]]</td>
              <td>Perez</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Juan</td>
              <td> Lopez</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Fabiola</td>
              <td>Mendez</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su login'
          }
        };
      }

      incrementar (){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
